# Dependencies
node_modules/

# Environment variables
.env

# Test reports and results
reports/
allure-results/
allure-report/

# Screenshots and artifacts
screenshots/

# App binaries and build outputs
apps/
